body {
  margin: 0;
}
.app {
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 2rem 1fr;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.transaction-list {
  list-style: none;
  border: 1px solid #111;
  padding: 0.5rem;
  height: calc(90vh - 6rem);
  overflow: auto;
}

.transaction-item {
  margin: 0.5rem;
  border: 1px solid #111;
  padding: 0.5rem;
}

form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr auto;
  position: relative;
}

input {
  padding: 0 0.5rem;
}

.btn {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 2.5rem;
}

mark {
  background-color: yellow;
}

.empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.5rem;
}

.spinner {
  width: 0.6rem;
  height: 0.6rem;
  border: 2px solid aqua;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
